<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBR4OD1fZqmsNT8M86dWhBq6R8NkAM5Y2M</string>
	<key>GCM_SENDER_ID</key>
	<string>826001615661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.keith.seejoy.stg</string>
	<key>PROJECT_ID</key>
	<string>see-joy-3f334</string>
	<key>STORAGE_BUCKET</key>
	<string>see-joy-3f334.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826001615661:ios:2c995b826f8bb8279d01a4</string>
</dict>
</plist>